.site-logo {
	display: block;
	max-width: 300px;
    margin-left: auto;
    margin-right: auto;
	height: auto;
}

.site-release-links {
	max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
